<div style="min-height: 91vh; padding: 30px;" *ngIf="questions">
  <div>
    <mat-card class="container" style="padding: 20px;">
      <h1>My Questions</h1>
      <ng-container *ngIf="questions.length === 0; else questionList">
        <mat-card class="empty-message">
          <mat-card-content>
            <mat-icon>sentiment_dissatisfied</mat-icon>
            <p>No questions found.</p>
          </mat-card-content>
        </mat-card>
      </ng-container>

      <ng-template #questionList>
        <div *ngFor="let question of questions" style="margin-bottom: 20px;">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <a routerLink="/user/question/{{question.id}}">{{question.title}}</a>
              </mat-card-title>
              <mat-card-subtitle>
                Posted By: <b>{{question.username}}</b> -
                Posted On: <b>{{question.createdDate | date: 'dd, MM, YYYY'}}</b>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{question.body}}</p>
              <div class="tags-container">
                <mat-chip-listbox>
                  <mat-chip color="primary" *ngFor="let tag of question.tags">{{tag}}</mat-chip>
                </mat-chip-listbox>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="warn" (click)="deleteQuestion(question.id)">Delete</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-template>

      <div class="pagination" style="margin-top: 20px;">
        <mat-paginator
          [length]="total"
          [pageIndex]="pageNumber"
          [pageSize]="5"
          (page)="pageIndexChange($event)">
        </mat-paginator>
      </div>
    </mat-card>
  </div>
</div>
