<!--<div class="signup-container">-->
<!--  <div class="signup-card">-->
<!--    <div class="signup-form">-->

<!--      <h2>Sign up</h2>-->
<!--      <p>Create your account</p>-->
<!--      <form [formGroup]="signupForm" (ngSubmit)="signup()">-->
<!--        <mat-form-field class="form-input">-->
<!--          <input matInput placeholder="Email" formControlName="email" type="email" required>-->
<!--          <mat-error *ngIf="signupForm.get('email')?.hasError('required')">Email is required</mat-error>-->
<!--          <mat-error *ngIf="signupForm.get('email')?.hasError('email')">Please enter a valid email</mat-error>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field class="form-input">-->
<!--          <input matInput placeholder="Name" formControlName="name" required>-->
<!--          <mat-error *ngIf="signupForm.get('name')?.hasError('required')">Name is required</mat-error>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field class="form-input">-->
<!--          <input matInput placeholder="Password" formControlName="password" [type]="hidePassword ? 'password' : 'text'" required>-->
<!--          <mat-icon matSuffix (click)="togglePasswordVisibility()">-->
<!--            {{hidePassword ? 'visibility_off' : 'visibility'}}-->
<!--          </mat-icon>-->
<!--          <mat-error *ngIf="signupForm.get('password')?.hasError('required')">Password is required</mat-error>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field class="form-input">-->
<!--          <input matInput placeholder="Confirm Password" formControlName="confirmPassword" [type]="hidePassword ? 'password' : 'text'" required>-->
<!--          <mat-icon matSuffix (click)="togglePasswordVisibility()">-->
<!--            {{hidePassword ? 'visibility_off' : 'visibility'}}-->
<!--          </mat-icon>-->
<!--          <mat-error *ngIf="signupForm.get('confirmPassword')?.hasError('required')">Confirm Password is required</mat-error>-->
<!--          <mat-error *ngIf="signupForm.hasError('passwordMismatch')">Passwords do not match</mat-error>-->
<!--        </mat-form-field>-->

<!--        <button mat-flat-button color="primary" type="submit" class="signup-button" [disabled]="signupForm.invalid">Sign up</button>-->
<!--      </form>-->
<!--      <p class="login-link">Already have an account? <a routerLink="/login">Log in</a></p>-->
<!--    </div>-->
<!--    <div class="signup-image">-->
<!--      <h1>Stac Enaa</h1>-->
<!--      <h2>Welcome to apprentant portal</h2>-->
<!--      <p>Create an account to get started</p>-->
<!--      <img src="assets/img/login-img.png" alt="Signup Illustration">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
