<!-- Navbar for non-logged-in users -->
<div *ngIf="!isUserLoggedIn && showNavbar">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">
      <img src="assets/img/enaa-favicon.png"> E-StackHub
    </span>
    <span class="spacer"></span>
    <button mat-button routerLink="/login" routerLinkActive="active">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
  </mat-toolbar>
</div>

<!-- Navbar for logged-in non-admin users -->
<div *ngIf="isUserLoggedIn && showNavbar && userRole !== 'ADMIN'">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">
      <img src="assets/img/enaa-favicon.png"> STACK
    </span>
    <span class="spacer"></span>
    <button mat-button routerLink="/user/dashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-button routerLink="/user/question" routerLinkActive="active">
      <mat-icon>question_answer</mat-icon>
      <span>Question</span>
    </button>
    <button mat-button routerLink="/user/my_questions" routerLinkActive="active">
      <mat-icon>assignment</mat-icon>
      <span>My Questions</span>
    </button>
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-toolbar>
</div>

<!-- Sidebar for logged-in admin users -->
<div *ngIf="isUserLoggedIn && showNavbar && userRole === 'ADMIN'">
  <app-sidebar></app-sidebar>
</div>

<!-- Main content area -->
<router-outlet></router-outlet>
