.question-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.vote-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.arrow-icon {
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px;
}

.vote-count {
  font-size: 24px;
  margin-right: 10px;
}
.question-body {
  margin-bottom: 10px;
}
.tag-list {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .question-card {
    padding: 10px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .arrow-icon {
    font-size: 20px;
  }
  .vote-count {
    font-size: 20px;
  }
}

///////////// Post Answr scss ///////////////

.answer-section {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto;
}
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.form-field {
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .answer-section {
    padding: 10px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.image-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
img {
  max-width: 40%;
  height: 40%;
}

.answer-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .answer-card {
    padding: 10px;
  }
}
.answred {
  color: rgb(22, 22, 22);
  font-weight: 400;
}

.vote-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.arrow-icon {
  cursor: pointer;
  margin-right: 10px;
  font-size: 24px;
}
.approved-badge {
  display: flex;
  align-items: center;
  color: #4CAF50;
  margin-top: 8px;

  mat-icon {
    margin-right: 8px;
  }
}

.success-snackbar {
  background: #4CAF50;
  color: white;
}

.error-snackbar {
  background: #F44336;
  color: white;
}
.approved-icon {

  color: green; // Set the color for the approved icon
  font-size: 24px; // Adjust the size of the icon if necessary

  mat-icon {
    vertical-align: middle;
    font-size: inherit; // Ensure the icon takes the font size from the parent
  }
}
